.glow-text1
{
    color: #3b5998;
  box-shadow: 0 5px 15px #3b5998;
}
.glow-text3
{
    color: #ff5f40;
    box-shadow: 0 0 15px #ff5f40;
}
.glow-text2
{
    color: #55acee;
    box-shadow: 0 0 15px #06263e;
}
.glow-text4
{
    color: #ac2bac;
    box-shadow: 0 0 15px #ac2bac;
}