@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #dfe5ee;
}

#makescrren {
  position: absolute;
  opacity: 90%;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}
.hospital_animation {
  position: absolute;
  opacity: 90%;
  width: 100%;
  object-fit: cover;
  height: 50vh;
  z-index: -1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.navbar_color {
  background-color: #f7f7f8;
  margin-top: -20px;
}
.navbarcss {
  padding-top: -100px;
}
.dark_blue {
  background-color: #043d78;
}
.dark_blue:hover {
  background-color: #52759a;
  color: black;
}
.header_text {
  font-size: 28px;
  color: #043d78;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0px;
}
.header_text1 {
  font-size: 15px;
  color: #043d78;
  margin-left: 10px;
}

.Testimonials {
  overflow: hidden;
}
.map {
  overflow: hidden;
}
.button_bottom {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #043d78;
}

.box {
  width: 75%;
  height: 50vh;
  background-color: white;
  padding: 10px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #043d78;
}

.star_color {
  color: #ffd700;
}
.login_box {
  width: 30%;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.825);
  padding: 10px;
  margin: 2.8rem;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #043d78;
}

/* [1] The container */
.img-hover-zoom {
  /* height: 300px; [1.1] Set it as per your need*/
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(90%);
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}

.margin_top {
  margin-top: 16.5vh;
}
.blue_color {
  color: #043d78;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
.ticker-wrap {
  /* position: fixed; */
  top: 0;
  width: 102%;
  border-radius: 2%;
  margin-left: -10px;
  overflow: hidden;
  height: 2rem;
  padding-left: 100%;
  margin-bottom: 1px;
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
.ticker_item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.resouces,
.Conditions,
.marn-top {
  margin-top: 1rem;
}
.marn1-top {
  margin-top: 10rem;
}

.booking {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/surgeon-wearing-stethoscope-discussing-treatment-examination-room-with-senior-man_482257-8439.jpg?w=996&t=st=1670394570~exp=1670395170~hmac=48f54c569f6e70cf28a3854d80219d72089e92dae33dbb1b46c0bb40272ca53e");
  background-repeat: no-repeat;
  background-size: 100% 120%;
}
.cards {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.blue-text {
  color: #100744;
}
.form-control-label {
  margin-bottom: 0;
}
input,
textarea,
.buttn {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
  color: #fff;
}
input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #100744;
  outline-width: 0;
  font-weight: 400;
}
.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
.btn-block:hover {
  color: #fff !important;
}
.buttn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
.header_text2{
  color: #fff;
  background-color: #00bcd4;
}
.header_text2:hover{
  color: rgb(255, 255, 255);
  background-color: #d40020;
}
.navbar{
  /*   z-index should be above .close-navbar-toggler */
    z-index:2;
  }
.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}
.close-navbar-toggler.collapsed{
  z-index:-1;
}