@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
      padding: 0;
      margin: 0;
      font-family: 'Source Sans Pro', sans-serif;
      background-color:#dfe5ee;
}

#makescrren{
      position:absolute;
      opacity:90%;
      width:100%;
      object-fit: cover;
      height:100%;
      z-index:-1;
      
    }
.hospital_animation{
      position:absolute;
      opacity:90%;
      width:100%;
      object-fit: cover;
      height:50vh;
      z-index:-1;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
.navbar_color{
      background-color: #f7f7f8;
      
}
.navbarcss{
      padding-top: -100px;
}
.dark_blue{
      background-color: #043d78;
      
}
.dark_blue:hover{
      background-color: #52759a;
      color: black;
}
.header_text{
      font-size: 28px;
      color: #043d78;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin: 0px;
}
.header_text1{
      font-size: 18px;
      color: #043d78;
      margin-left: 10px;
}

.Testimonials{
      overflow: hidden;
}
.map{
      overflow: hidden;
}
.button_bottom{
      position: fixed;
       bottom: 0px;
        right: 0px;
        background-color: #043d78; 
}

.box{
      width: 70%;
      height: 50vh;
      background-color: white;
      padding: 10px;
      margin: 0px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px #043d78;
}

.star_color{
      color: #FFD700;
}
.login_box{
      width: 30%;
      height: 40vh;
      background-color: rgba(255, 255, 255, 0.825);
      padding: 10px;
      margin: 2.8rem;
      text-align: center;
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px #043d78;
}


/* [1] The container */
.img-hover-zoom {
     /* height: 300px; [1.1] Set it as per your need*/
      overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    }
    
   

    .img-hover-zoom--brightness img {
      transition: transform 2s, filter 1.5s ease-in-out;
      transform-origin: center center;
      filter: brightness(90%);
    }
    
    /* The Transformation */
    .img-hover-zoom--brightness:hover img {
      filter: brightness(100%);
      transform: scale(1.3);
    }
    
    .margin_top{
      margin-top: 16.5vh;
    }
    .blue_color{
      color:#225a97;
    }