@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
      padding: 0;
      margin: 0;
      font-family: 'Source Sans Pro', sans-serif;
      background-color:#dfe5ee;
}

#makescrren{
      position:absolute;
      opacity:90%;
      width:100%;
      object-fit: cover;
      height:100%;
      z-index:-1;
      
    }
.hospital_animation{
      position:absolute;
      opacity:90%;
      width:100%;
      object-fit: cover;
      height:50vh;
      z-index:-1;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
.navbar_color{
      background-color: #043d78;
}
.header_text{
      font-size: 28px;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin: 0px;
}
.header_text1{
      font-size: 18px;
      color: white;
      margin-left: 10px;
}
.Testimonials{
      overflow: hidden;
}
.map{
      overflow: hidden;
}
.button_bottom{
      position: fixed;
       bottom: 0px;
        right: 0px;
        background-color: #043d78; 
}

.box{
      width: 70%;
      height: 50vh;
      background-color: white;
      padding: 10px;
      margin: 0px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px #043d78;
}

.star_color{
      color: #FFD700;
}