
.card {
      margin: 10px 10px;
    }
    
    input[type='checkbox'] {
      display: none;
    }
    
    .card-container {
      display: grid;
      perspective: 700px;
    }
    
    .card-flip {
      display: grid;
      grid-template: 1fr / 1fr;
      grid-template-areas: "frontAndBack";
      transform-style: preserve-3d;
      transition: all 0.7s ease;
    }
    
    .card-flip div {
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
    
    .front {
      grid-area: frontAndBack;
    }
    
    .back {
      grid-area: frontAndBack;
      transform: rotateY(-180deg);
    }
    
    input[type='checkbox']:checked + .card-container .card-flip {
      transform: rotateY(180deg);
    }
    .card-shadow-cnd{
      box-shadow:
      7px 2.1px 2.7px rgba(0, 0, 0, 0.042),
      16.5px 5px 6.9px rgba(0, 0, 0, 0.077),
      31.3px 9.4px 14.2px rgba(0, 0, 0, 0.107),
      62.5px 18.9px 29.2px rgba(0, 0, 0, 0.138),
      212px 64px 80px rgba(0, 0, 0, 0.22)
    ;
    }